@use "/src/variables" as vars;

.dialPad {
  .btnsGrid {
    display: grid;
    gap: 1rem;
    margin-bottom: 2rem;
    justify-content: center;
    grid-template-columns: repeat(
      vars.$layout-grid-columns,
      vars.$layout-grid-cell-width
    );
    grid-template-rows: repeat(
      vars.$layout-grid-rows,
      vars.$layout-grid-cell-height
    );
  }

  .inputContainer {
    display: flex;
    align-items: center;

    .agreeInput {
      opacity: 0;

      &:focus + span::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 3rem;
        width: 3rem;
        border: 2px dotted vars.$color-grey-1;
        content: "";
      }

      &:checked + span::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: url("../../../assets/icon-check.svg");
      }
    }

    span {
      position: relative;
      height: 4rem;
      width: 4rem;
      border: 2px solid vars.$color-black;
      margin-right: 2rem;
      content: "";
    }

    .agreeLabel {
      color: vars.$color-grey-2;
      font-size: 1.4rem;
      text-align: left;
    }
  }

  .submitBtn {
    margin-top: 1.3rem;
    display: block;
    width: 100%;
    color: vars.$color-grey-1;
    border: 2px solid vars.$color-grey-1;
    background: none;
    padding: 1.2rem 1.9rem;

    &.valid {
      color: vars.$color-white;
      cursor: pointer;
      border: 2px solid vars.$color-black;
      background: vars.$color-black;
      outline: 2px solid transparent;
      transition: outline 0.3s;

      &:focus {
        outline: 2px solid rgba(vars.$color-grey-2, 0.4);
        outline-offset: 0.2rem;
      }
    }
  }
}
