// RESOLUTION
$screen-width: 128rem;
$screen-height: 72rem;

// COLORS
$color-cyan: #86d3f4;
$color-black: #000000;
$color-white: #ffffff;
$color-grey-1: #4e4e4e;
$color-grey-2: #565656;

// LAYOUT
$layout-grid-columns: 3;
$layout-grid-rows: 4;
$layout-grid-cell-width: 8.8rem;
$layout-grid-cell-height: 5.2rem;
