@use "/src/variables" as vars;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 10 px
}

body {
  font-size: 1.6rem;
  margin: 0 auto;
  height: vars.$screen-height;
  width: vars.$screen-width;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
